{%extends 'base.html'%}

{%block body_block%}

    <h1 class="text-center m-3">All Mobiles</h1>
    <div class="container">
        <table class="table table-bordered border-dark table-striped bg-secondary mt-5">
            <tr>
                <th>name</th>
                <th>price</th>
                <th>brand</th>
                <th>specs</th>
                <th>display</th>
                <th class="text-center">Action</th>
            </tr>

            {%for mob in data%}
            <tr>
                <td>{{mob.name}}</td>
                <td>{{mob.price}}</td>
                <td>{{mob.brand}}</td>
                <td>{{mob.specs}}</td>
                <td>{{mob.display}}</td>
                <td class="d-flex justify-content-evenly">
                    <a href="{%url 'mobile-detail' mob.id%}" class="btn btn-outline-info">View</a>
                    <a href="{%url 'mobile-change' mob.id%}" class="btn btn-outline-secondary">change</a>
                    <a href="{%url 'mobile-remove' mob.id%}" class="btn btn-outline-danger">delete</a>
                </td>

            </tr>

            {%endfor%}
        </table>
    </div>
{%endblock%}