{%extends 'base.html'%}

{%block body_block%}
<h1 class="text-center">details</h1>
<div class="container d-flex justify-content-center mt-5">

    <div class="card" style="width: 18rem;">
      {%if data.picture%}
        <img src="{{data.picture.url}}" alt="" height="" width="100%">
      {%endif%}
        <div class="card-header fs-2">
          {{data.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa-solid fa-mobile"></i> name: {{data.name}}</li>
          <li class="list-group-item"><i class="fa-solid fa-indian-rupee-sign"></i> price: {{data.price}}</li>
          <li class="list-group-item">brand: {{data.brand}}</li>
          <li class="list-group-item">specs: {{data.specs}}</li>
          <li class="list-group-item">display: {{data.display}}</li>
        </ul>
      </div>
</div>
{%endblock%}


