<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile_list</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {%if messages%}
        {%for m in messages%}
            {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endif%}

            {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{m}}</strong> You should check in on some of those fields below.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {%endif%}
        {%endfor%}
    {%endif%}

    <h1 class="text-center m-3">All Mobiles</h1>
    <div class="container">
        <table class="table table-bordered border-dark table-striped bg-secondary mt-5">
            <tr>
                <th>name</th>
                <th>price</th>
                <th>brand</th>
                <th>specs</th>
                <th>display</th>
                <th class="text-center">Action</th>
            </tr>

            {%for mob in data%}
            <tr>
                <td>{{mob.name}}</td>
                <td>{{mob.price}}</td>
                <td>{{mob.brand}}</td>
                <td>{{mob.specs}}</td>
                <td>{{mob.display}}</td>
                <td class="d-flex justify-content-evenly">
                    <a href="{%url 'mobile-detail' mob.id%}" class="btn btn-outline-info">View</a>
                    <a href="{%url 'mobile-change' mob.id%}" class="btn btn-outline-secondary">change</a>
                    <a href="{%url 'mobile-remove' mob.id%}" class="btn btn-outline-danger">delete</a>
                </td>

            </tr>

            {%endfor%}
        </table>
    </div>
    <div class="container d-flex justify-content-center">
        <a href="{%url 'mobile-add'%}" class="btn btn-outline-success">Add New Mobile</a>
    </div>
</body>

</html>